<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">

	</head>
	<body>
		<h1>Add Friends</h1>
		<form action = "/web/friends/save" method = "POST">
		<label for = "name">이름</label>
		<input name= "name" id = "name" type = "text"><br/>
		<label for = "email">이메일</label>
		<input name ="email" id = "email"><br/>
		<label for = "phone">전화번호</label>
		<input name = "phone" id = "phone" type = "text">
		<input type = "submit">
		</form>
	</body>

</html>